img:hover{
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#modal-dialog{
    opacity: 0.8;
}
.col{
    margin: 10px;
}
/*
.modal-header{
    background-color: #000000;
}
.modal-header button{
    background-color: white;
}
*/
.modal-body {
    background-color: none;
}
#modalValoration{
    cursor: auto;
}
