@font-face {
    font-family: 'bebas';
    src: url("fonts/BebasNeue-Regular.otf");
}
body{
    font-family: 'bebas';
}

.imgEvent:hover{
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#myModal{
    opacity: 0.8;
}

.col{
    margin: 10px;
}
.modal-body {
    background-color: none;
}
#modalValoration{
    cursor: auto;
}