body{
    display: flex;
    background-color: #faebd7;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
table{
    width: 120px;
    color:white;
    text-shadow: 2px 2px 8px #000000;
    margin-left: 3%;
    margin-top: 1%;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div p{
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 5%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
button{
    width: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    /*FOOTER*/
